body {
  font-family: 'Montserratmedium', 'Montserratbold', 'Montserratnormal', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1440px;
} 

.header {
  display: flex;
  height: 92px;
  width: 1440px;
}

.nav {
  display: flex;
  width: 430px;
  height: 70px;
}

main {
  display: flex;
  position: relative;
  height: 450px;
  width: 600px;
  left: 750px;
  top: 170px;
}

.nav__link {
  position: absolute;
  width: 98px;
  height: 37px;
  left: 52px;
  top: 36px;
  font-family: "Montserratmedium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-decoration: none;
}

.language {
  position: relative;
  cursor: pointer;
  width: 31px;
  height: 25px;
  left: 388px;
  top: 42px;
  font-family: Montserratnormal, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
}

.burger__menu {
  position: relative;
  left: 1400px;
  top: 0;
  height: 93px;
  width: 93px;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 48px;
  left: -453px;
  width: 37px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  outline: 10px;
  transition: background 0.3s;
}

.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 90%;
  height: 3px;
  background-color: black;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 1px;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(140deg);
}

#menu__square {
  position: absolute;
  width: 92px;
  height: 92px;
  left: -484px;
  top: 0px;
  background: #000000;
  opacity: 0.05;
}

.section {
  position: relative;
  align-items: center;
  z-index: 1;
  height: 350px;
  width: 520px;
  top: -13px;
  left: 19px;
}

.section__collection {
  position: relative;
  width: 520px;
  height: 350px;
  left: 10px;
  top: 9px;
}

.section__title { 
  position: absolute;
  width: 475px;
  height: 165px;
  left: 10px;
  top: 32px;
  font-family: "Montserratbold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 82px;
  color: #000000;
  margin: -17px 0 18px 0px;
}

.section__description {
  position: absolute;
  width: 467px;
  left: 11px;
  top: 221px;
  font-family: "Montserratnormal", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: black;
  margin: -26px 0 18px 0px;
}

.section__next {
  position: relative;
  height: 100px;
  width: 550px;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  line-height:44px;
}

.section__next:hover {
  background: #f4f6f6;
}

.section__border {
  text-decoration: none;
  position: absolute;
  width: 203px;
  height: 44px;
  left: 17px;
  top: 17px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  color: #000000;
}

.section__other {
  color: black;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  width: 203px;
  height: 44px;
  left: 258px;
  top: 16px;
}

.section__arrow {
  color: black;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  width: 203px;
  height: 44px;
  left: 384px;
  top: 19px;
}

.social {
  display: flex;
  position: relative;
  align-items: center;
  height: 70px;
  width: 200px;
  left: 35px;
  top: 260px;
}

.social__link-inst {
  position: relative;
  width: 43px;
  height: 43px;
  left: 18px;
  z-index: 1;
}

.social__link-vk {
  position: relative;
  width: 43px;
  height: 43px;
  left: 29px;
  z-index: 1;
}

.social__link-fb {
  position: relative;
  width: 43px;
  height: 43px;
  left: 40px;
  z-index: 1;
}

.scrol {
  position: relative;
  width: 308px;
  height: 807px;
  left: 425px;
  top: 52px;
  z-index: -1;
}

.girl {
  position: absolute;
  width: 549px;
  height: 562px;
  left: 186px;
  top: 169px;
} 

.rectangle {
  position: absolute;
  width: 461px;
  height: 900px;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.tick {
  display: none; 
}

.card {
  display: flex;
  position: relative;
  height: 900px;
  width: 750px;
  top: -611px;
}

/*Здесь  2 секция*/
/*
.items {
  display: flex;
  position: relative;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: -612px;
}

.items__pics {
  display: flex;
  position: relative;
  width: 1440px;
  height: 900px;
  left: 0px;
}

.items__pics_frontbag {
  position: relative;
  width: 582px;
  height: 851px;
  left: 230px;
  top: 29px;
}

.items__pics_backbag {
  position: relative;
  width: 398px;
  height: 415px;
  left: -446px;
  top: 215px;
  z-index: -1;
}

.items__pics_background {
  position: relative;
  width: 1440px;
  height: 900px;
  left: -980px;
  top: 0px;
  z-index: -2;
}

.items__background {
  position: relative;
  width: 488px;
  height: 556px;
  left: -73px;
  top: 18px;
  background: #FFFFFF;
  z-index: -1;
}

.items__goods-text {
  display: flex;
  position: relative;
  height: 480px;
  width: 1440px;
  top: 150px;
  left: -1440px;
}

.items__description {
  position: relative;
  width: 595px;
  height: 161px;
  left: 348px;
  top: 181px;
  font-family: Montserratnormal, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  opacity: 0.5;
}

.items__title {
  position: relative;
  width: 553px;
  height: 39px;
  left: 934px;
  top: 22px;
  font-family: Montserratbold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
  color: #000000;
}

.items__subtitle {
  position: relative;
  width: 400px;
  height: 30px;
  left: 593px;
  top: 91px;
  font-family: Montserratbold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  color: #000000;
  opacity: 0.5;
}

.items__buttons {
  display: flex;
  position: absolute;
  height: 100px;
  width: 200px;
  left: 906px;
  top: 507px;
}

.items__button_gray {
  position: relative;
  width: 30.18px;
  height: 30px;
  left: 28px;
  top: 42px;
  background: #0000;
  cursor: pointer;
}

.items__button_pink {
  position: relative;
  width: 38px;
  height: 38px;
  left: 41px;
  top: 37px;
  background: #0000;
  cursor: pointer;
}

.items__button_blue {
  position: relative;
  width: 30.18px;
  height: 30px;
  left: 51px;
  top: 41px;
  background: #0000;
  cursor: pointer;
}

.items__button_green {
  position: relative;
  width: 30.18px;
  height: 30px;
  left: 65px;
  top: 42px;
  background: #0000;
  cursor: pointer;
}

.items__price {
  display: flex;
  position: absolute;
  width: 156px;
  height: 90px;
  left: 1152px;
  top: 506px;
}

.items__bars {
  display: flex;
  position: absolute;
  width: 120px;
  height: 80px;
  left: 922px;
  top: 623px;
}

.items__link {
  position: relative;
  width: 125px;
  height: 30px;
  left: 16px;
  top: 38px;
}

.items__cart {
  position: absolute;
  width: 255px;
  height: 44px;
  left: 1048px;
  top: 636px;
  border: 2px solid #000000;
  box-sizing: border-box;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  color: #000000;
  text-align: center;
  cursor: pointer;
  background: transparent;
}

.items__quantity_button {
  display: flex;
  position: relative;
  width: 100px;
  height: 44px;
  left: 12px;
  top: 13px;
  border: 2px solid #000000;
  box-sizing: border-box;
  z-index: 1;
  background: transparent;
}

.items__quantity_number {
  display: flex;
  position: relative;
  left: -51px;
  top: 18px;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  z-index: 1;
  color: black;
  cursor: pointer;
}

.items__quantity_minus {
  display: flex;
  position: relative;
  left: -85px;
  top: 17px;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  z-index: 1;
  color: black;
  cursor: pointer;
}

.items__quantity_plus {
  display: flex;
  position: relative;
  left: -17px;
  top: 18px;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  z-index: 1;
  color: black;
  cursor: pointer;
  z-index: 1;
}

.items__next {
  display: flex;
  position: absolute;
  width: 299px;
  height: 58px;
  left: 867px;
  top: 750px;
}

.items__next_other {
  position: relative;
  width: 299px;
  height: 58px;
  left: 16px;
  top: 13px;
  text-decoration: none;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.items__arrow {
  position: relative;
  width: 241px;
  height: 37px;
  left: -1761px;
  top: 764px;
}

/*3 секция норм*/
/*
.look {
  display: flex;
  position: absolute;
  width: 1440px;
  height: 906px;
  left: 0px;
  top: 1798px;
}

.look__collection {
  position: relative;
  width: 1440px;
  height: 906px;
  left: 0px;
  top: -3px;
}

.look__background {
  position: relative;
  width: 1440px;
  height: 906px;
  left: 0px;
  top: -621px;
  background: #EBE3D8;
  z-index: -3;
}

.look__img {
  position: relative;
  width: 827px;
  height: 622px;
  left: 89px;
  top: 143px;
}

.look__wrap-text {
  display: flex;
  position: absolute;
  width: 1240px;
  height: 450px;
  left: 200px;
  top: 143px;
}

.look__title {
  position: inherit;
  width: 400px;
  height: 41px;
  left: 663px;
  top: 152px;
  font-family: Montserratbold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
  color: #000000;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.look__subtitle {
  position: inherit;
  width: 320px;
  height: 37px;
  left: 666px;
  top: 209px;
  font-family: Montserratbold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  color: #000000;
  opacity: 0.5;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.look__description {
  position: inherit;
  height: 100px;
  width: 350px;
  left: 668px;
  top: 243px;
  font-family: Montserratnormal, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  opacity: 0.5;
  z-index: 1;
}

.look__back {
  position: relative;
  width: 475px;
  height: 351px;
  left: 617px;
  top: 115px;
}

.look__stripe {
  position: relative;
  width: 73px;
  height: 900px;
  left: 388px;
  top: -1791px;
  z-index: -2;
}

.look__quantity {
  display: flex;
  position: absolute;
  width: 525px;
  height: 180px;
  left: 847px;
  top: 504px;
}

.look__quantity_button {
  display: flex;
  position: absolute;
  width: 101px;
  height: 44px;
  left: 17px;
  top: 13px;
  border: 2px solid #000000;
  box-sizing: border-box;
  z-index: 1;
  background: transparent;
}

.look__number {
  display: flex;
  position: inherit;
  left: 64px;
  top: 21px;
  height: 20px;
  width: 20px;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  z-index: 1;
  color: black;
  cursor: pointer;
}

.look__minus {
  display: flex;
  position: inherit;
  left: 35px;
  top: 19px;
  height: 20px;
  width: 20px;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  z-index: 1;
  color: black;
  cursor: pointer;
}

.look__plus {
  display: flex;
  position: relative;
  height: 30px;
  width: 20px;
  left: 89px;
  top: 21px;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  z-index: 1;
  color: black;
  cursor: pointer;
}

.look__quantity_button:hover {
  background: #f4f6f6;
}

.look__basket {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 255px;
  height: 44px;
  left: 111px;
  top: 14px;
  border: 2px solid #000000;
  box-sizing: border-box;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  color: #000000;
  text-align: center;
  cursor: pointer;
  background: transparent;
}

.look__next {
  display: flex;
  position: absolute;
  width: 312px;
  height: 31px;
  left: 927px;
  top: 639px;
}

.look__link {
  position: relative;
  width: 299px;
  height: 14px;
  left: 20px;
  top: 7px;
  font-family: Montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}

.look__arrow {
  display: flex;
  position: inherit;
  width: 199px;
  height: 54px;
  left: 1138px;
  top: 628px;
}

.look__arrow_link {
  position: relative;
  width: 108px;
  height: 12px;
  left: 44px;
  top: 20px;
}

.look__card {
  position: inherit;
  display: flex;
  width: 100px;
  height: 920px;
  left: 370px;
  top: 0px;
}

.look__stripe {
  position: relative;
  width: 73px;
  height: 905px;
  left: 17px;
  top: 2px;
  z-index: -2;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 2602px;
}

.footer__text {
  position: relative;
  width: 112px;
  height: 15px;
  left: 1210px;
  top: 50px;
  font-family: Montserratbold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.footer__img {
  position: relative;
  width: 84px;
  height: 21px;
  left: 1335px;
  top: 20px;
}*/

@media only screen and (min-width: 1441px) and (max-width: 1920px){
  body {
    display: flex;
    max-width: 100%;
    height: 100vh;
  }
  
  .header {
    position: absolute;
    display: flex;
    height: 270px;
    width: 1920px;
  }

  .nav {
    width: 930px;
    height: 270px;
    left: 2px;
  }


main {
  display: flex;
  position: relative;
  height: 450px;
  width: 600px;
  left: 750px;
  top: 170px;
}

  .nav__link {
    position: relative;
    top: 49px;
    height: 50px;
    width: 170px;
    font-size: 60px;
  }

  .language {
    width: 31px;
    height: 25px;
    left: 660px;
    top: 80px;
    font-weight: 700;
    font-size: 30px;
  }

  .section__title {
    width: 480px;
    top: 190px;
    font-size: 120px;
    line-height: 92px;
  }

  .section__description {
    width: 740px;
    font-size: 30px;
    line-height: 55px;
  }

  .section__border {
    width: 250px;
    height: 50px;
    top: 900px;
    font-size: 20px;
  }

  .section__other {
    width: 400px;
    height: 60px;
    top: 900px;
    font-size: 20px;
  }

  .section__arrow {
    width: 600px;
    top: 900px;
  }

  .girl {
    width: 600px;
    height: 600px;
    left: 100px;
    top: 220px;
  }

  .scrol {
    display: none;
  }

  .rectangle {
    width: 780px;
    height: 1080px;
  }

  #menu__square {
    display: flex;
    height: 150px;
    width: 200px;
    left: 1750px;
    border-radius: 0px;
  }
   
  .menu__btn {
    left:1800px;
    top: 75px;
    width: 100px;
    height: 60px;
  }

  .social__link-inst {
  	display: flex;
    left: 63px;
    top: -1000px;
  }

  .social__link-vk {
  	display: flex;
    top: -1000px;
    left: 80px
  }

  .social__link-fb {
  	display: flex;
    top: -1000px;
    left: 97px;
  }

/*@media вторая секция */
/*
  .items__pics_frontbag {
    width: 700px;
    height: 1000px;
    left: 200px;
    top: 938px;
  }

  .items__pics_backbag {
    width: 700px;
    height: 600px;
    left: 30px;
    top: 1190px;
    z-index: -1;
  }

  .items__pics_background {
    width: 1960px;
    height: 900px;
    left: 0px;
    top: 1080px;
    z-index: -2;
  }

  .items__background {
    width: 800px;
    height: 860px;
    left: 1000px;
    top: 1100px;
  }

  .items__title {
    width: 800px;
    height: 47px;
    left: 750px;
    top: 1111px;
    font-size: 50px;
    line-height: 41px;
    text-align: center;
  }

  .items__subtitle {
    width: 800px;
    height: 17px;
    left: 904px;
    top: 1100px;
    font-size: 36px;
    line-height: 17px;
  }

  .items__description {
    width: 700px;
    height: 548px;
    left: 777px;
    top: 1104px;
    font-size: 36px;
    line-height: 40px;
    opacity: 0.8;
    text-align: center;
  }

  .items__button_gray {
    width: 60.18px;
    height: 60px;
    left: 204px;
    top: 1850px;
  }

  .items__button_pink {
    width: 78px;
    height: 78px;
    left: 298px;
    top: 1845px;
  }

  .items__button_blue {
    width: 60.18px;
    height: 60px;
    left: 408px;
    top: 1850px;
  }

  .items__button_green {
    width: 60.18px;
    height: 60px;
    left: 504px;
    top: 1850px;
  }

  .items__link {
    width: 200px;
    height: 70px;
    left: 704px;
    top: 1846px;
  }

  .items__cart {
    width: 400px;
    height: 85px;
    left: 1349px;
    top: 1822px;
    font-size: 25px;
  }

  .items__next {
    display: none;
  }

  .items__arrow {
    display: none;
  }

  .items__quantity_button {
    position: absolute;
    width: 200px;
    height: 85px;
    left: 1108px;
    top: 1822px;
    cursor: pointer;
  }

  .items__quantity_number {
    left: 132px;
    top: 1814px;
    font-size: 31px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
  }

  .items__quantity_minus {
    left: 83px;
    top: 1778px;
    font-size: 40px;
  }

  .items__quantity_plus {
    left: 181px;
    top: 1850px;
    font-size: 32px;
    line-height: 35px;
  }
*/

  /*медиа3секция*/

/*
  .look__background {
    width: 1960px;
    height: 1000px;
    left: -1090px;
    top: 1276px;
  }

  .look__img {
    width: 850px;
    height: 700px;
    left: -1000px;
    top: 2150px;
  }

  .look__title {
    width: 700px;
    height: 41px;
    left: 64px;
    top: 440px;
    font-size: 70px;
  }

  .look__subtitle {
    width: 605px;
    height: 17px;
    left: 130px;
    top: 468px;
    font-size: 39px;
  }

  .look__description {
    width: 668px;
    height: 104px;
    left: 68px;
    top: 522px;
    font-size: 39px;
    line-height: 58px;
  }

  .look__back {
    width: 775px;
    height: 444px;
    left: 10px;
    top: 315px;
  }

  .look__basket {
    width: 340px;
    height: 80px;
    left: 379px;
    top: 6px;
    border: 1.5px solid #000000;
    font-size: 21px;
    line-height: 35px;
    z-index: 1;
  }

  .look__quantity_button {
    width: 213px;
    height: 80px;
    left: 63px;
    top: 192px;
    border: 1.5px solid #000000;
  }

  .look__quantity_button:hover {
    background: #f4f6f6;
  }

  .look__number {
    left: 163px;
    top: 105px;
    font-size: 25px;
    line-height: 36px;
    z-index: 1;
  }

  .look__minus {
    left: 101px;
    top: 67px;
    font-size: 40px;
    line-height: 35px;
  }

  .look__plus {
  	left: 218px;
    top: 140px;
    font-size: 33px;
    line-height: 35px;
    text-align: center;
    z-index: 1;
  }

  .look__link {
    height: 58px;
    left: 84px;
    top: 90px;
    font-size: 21px;
  }

  .look__arrow_link {
    left: 516px;
    top: 70px;
  }

  .look__stripe {
    height: 1000px;
    left: -800px;
    top: -869px;
  }

  .footer__text {
    width: 220px;
    height: 18px;
    left: -1330px;
    top: 2930px;
    font-size: 13px;
    line-height: 15px;
  }

  .footer__img {
    width: 92px;
    height: 28px;
    left: -1202px;
    top: 2895px;
  }*/
}
/*
@media screen and (min-width: 0px) and (max-width: 375px){
  body {
    display: flex;
    max-width: 100%;     
  }

  .nav__link {
    display: flex;
    color: black;
    width: 98px;
    height: 37px;
    left: 27px;
    top: 85px;
    }

  .language {
    display: none;
  }

  .card {
    display: flex;
    background-image: url(./images/girl-smallerc.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 596px;
    min-width: 375px;
    left: 0px;
    top: 140px;
  }

  .girl {
    display: none;
  }

  .header {
    display: flex;
  }

  .rectangle {
    display: none;
  }

  .tick {
    display: grid;
    position: absolute;
    cursor: pointer;
    width: 33px;
    height: 18px;
    left: 173px;
    top: 490px;
    z-index: 2;
    color: black;
  }

  .header__menu {
    display: flex;
  }

  #menu__square {
    display: flex;
    height: 69px;
    width: 70px;
    left: 305px;
    top: 71px;
    border-radius: 0px;
    background: #000000;
    opacity: 0.05;
  }
   
  .menu__btn {
    left:326px;
    top: 108px;
    width: 8%;
    height: 3px;
  }

  .section__title {
    position: absolute;
    font-family: Montserratbold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
    color: #000000;
    height: 103px;
    width: 297px;
    left: 6px;
    top: 522px;
    border-radius: 0px;
  }

  .scrol {
	display: none;
  }

  .section__description {
	display: none;
  }

  .social {
	display: none;
  }

  .section__next {
	display: none;
  }

/*медия 2 секция моб*/
/*
  .items__pics_frontbag {
    width: 224px;
    height: 326px;
    left: 74px;
    top: 614px;
    z-index: -1;
  }

  .items__pics_backbag {
  	display: none;
  }

  .items__pics_background {
    width: 376px;
    height: 596px;
    left: -1px;
    top: 668px;
    background: #FAE8E4;
  }

  .items__background {
    width: 320px;
    height: 281px;
    left: 28px;
    top: 931px;
  } 

  .items__title {
    width: 191.6px;
    height: 23.15px;
    left: 37px;
    top: 929px;
    font-size: 20px;
    line-height: 20px;
  }

  .items__subtitle {
    width: 150px;
    height: 10px;
    left: 38px;
    top: 909px;
    font-size: 10px;
    line-height: 10px;
  }

  .items__description {
    width: 252px;
    height: 84px;
    left: 40px;
    top: 905px;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
  }

  .items__button_gray {
    width: 23.35px;
    height: 22.89px;
    left: 62px;
    top: 1092.64px;
  }

  .items__button_pink {
    width: 29.39px;
    height: 29px;
    left: 94.49px;
    top: 1089.59px;
  }

  .items__button_blue {
    position: absolute;
    width: 23.35px;
    height: 22.89px;
    left: 134px;
    top: 1092.64px;
  }

  .items__button_green {
    width: 23.35px;
    height: 22.89px;
    left: 165.65px;
    top: 1092.64px;
  }

  .items__link {
    width: 59px;
    height: 15px;
    left: 249px;
    top: 1097px;
  }

  .items__cart {
    position: relative;
    width: 260px;
    height: 37px;
    left: -212px;
    top: 1149px;
    border: 1.5px solid #000000;
  }

  .items__quantity {
    display: none;
  }

  .items__next {
    display: none;
  }

  .items__arrow {
   display: none;
  }

  /*3 секция мобильная*/
/*
  .look__background {
    position: absolute;
    width: 375px;
    height: 597px;
    top: 1264px;
  }

  .look__img {
    width: 351.51px;
    height: 261px;
    left: -520px;
    top: 1297px;
    z-index: -1;
  }

  .look__title {
    width: 245.53px;
    height: 26.87px;
    left: -464px;
    top: 1279px;
    font-size: 20px;
    line-height: 20px;
  }

  .look__back {
    width: 305px;
    height: 195px;
    left: -488px;
    top: 1110px;
  }

  .look__subtitle {
    width: 144.04px;
    height: 11.14px;
    left: -463px;
    top: 1264px;
    font-size: 10px;
    line-height: 10px;
  }

  .look__description {
    width: 228px;
    height: 66px;
    left: -463px;
    top: 1255px;
    font-size: 9px;
    line-height: 13px;
  }

  .look__basket {
    width: 260px;
    height: 37px;
    left: -463px;
    top: 1041px;
    border: 1.5px solid #000000;
    font-size: 13px;
  }

  .look__quantity_button {
    display: none;
  }

  .look__quantity_button:hover {
    display: none;
  }

  .look__number {
    display: none;
  }

  .look__minus {
    display: none;
  }

  .look__plus {
    display: none;
  }

  .look__link {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
    height: 8px;
    left: -344px;
    top: 1107px;
    font-size: 15px;
    line-height: 18px;
  }

  .look__arrow {
    display: flex;
    position: relative;
    background-image: url(./images/arrowsec3.png);
    background-repeat: no-repeat;
    height: 12px;
    width: 135px;
    left: -343px;
    top: 1138px;
  }

  .look__arrow_link {
    display: none;
  }

  .look__stripe {
  	display: flex;
    height: 1000px;
    left: -430px;
    top: 580px;
    width: 41px;
    height: 597px;
  }

  .footer__text {
    display: none;
  }

  .footer__img {
	display: none;
  }
}
